
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" ng-click="close()" class="close">&times;</button>
          <h4 class="modal-title">Class</h4>
        </div>
        <div class="modal-body">
          <form name="myForm">
          <div class="row">
          <div class="form-group form-inline">
            <label class="col-sm-4 text-right">Course Type:</label>
            <select class="form-control w-195" name="cType" ng-model="cType" required>
              <option value="">Select Course Type</option>
              <option ng-repeat="listObj in cTypeList" value="{{listObj.cType}}">{{listObj.cType}}</option>
            </select>
             <span class="colorRed" ng-show="myForm.cType.$error.required && myForm.cType.$dirty">required!!</span>
          </div></div>
          <div class="row">
          <div class="form-group form-inline">
            <label class="col-sm-4 text-right">Class:</label><input type="text" class="form-control" class="class" ng-model="class" required>
               <span class="colorRed" ng-show="myForm.class.$error.required && myForm.class.$dirty">required!!</span>                        
          </div></div>
          <div class="row text-center">
            <label class="text-danger" ng-bind="msg"></label>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-if="isSave" type="button" ng-click="save('0')" class="btn btn-primary" ng-disabled="!myForm.$valid">Save</button>
           <button ng-if="!isSave" type="button" ng-click="save('1')" class="btn btn-primary" ng-disabled="!myForm.$valid">Edit</button>
          <button type="button" ng-click="close()" class="btn btn-primary">Close</button>
        </div>
      </form>
      </div>
      
  
  