<!-- Modal content-->
  <div class="modal-content" >
  <form id="StuVacateForm">
  <div class="modal-header">
  <button type="button" ng-click="close()" class="close">&times;</button>
  <h4 class="modal-title">Students Vacated</h4>
  </div>

    <div class="modal-body">

    <div class="row form-group form-inline row">
    <label class="col-sm-3 text-right">Course Type:</label>
    <div class="col-sm-3">
    <select class="form-control w-195 " ng-model="cType" name="cType" ng-change="changeCourseType(cType)" >
    <option value="">Select Course Type</option>
    <option ng-repeat="obj in cTypes" value="{{obj.cType}}">{{obj.cType}}</option></select></div>
    <label class="col-sm-2 text-right">Stream:</label>
    <div class="col-sm-3">
    <select  class="form-control w-195 " ng-model="class" name="class" ng-change="changeStream(class)">
    <option value="">Select Stream</option>
    <option ng-repeat="obj in streams" value="{{obj.class}}">{{obj.class}}</option></select></div>
    </div>

     <div class="form-group form-inline row">
     <label class="col-sm-3 text-right">Semester:</label>
     <div class="col-sm-3">
     <select class="form-control w-195" ng-model="semesters" name="semesters" ng-change="getStdDet()">
     <option value="">Select semester</option>
     <option ng-repeat="obj in semList track by $index" value="{{obj.semester}}">{{obj.semester}}</option>
     </select></div>
     <label class="col-sm-2 text-right">Section:</label>
     <div class="col-sm-3">
     <select class="form-control w-195" ng-model="section" name="section" ng-change="getStdDet()">
     <option value="">Select Section</option>
     <option ng-repeat="obj in sections" value="{{obj.section}}">{{obj.section}}</option>
     </select></div>
     </div>

     <div class="form-group form-inline row">
     <label class="col-sm-3 text-right">Student AdmNo:</label>
     <div class="col-sm-3">
     <select class="form-control w-195" ng-model="stuObj" name="admNo" ng-options="listObj as listObj.admNo for listObj in stdList">
     <option value="">AdmNo</option>
     </select></div>
     <label class="col-sm-2 text-right">Academic Year:</label>
     <div class="col-sm-3">
     <select class="form-control w-195" ng-model="AcaYr" name="AcaYr">
     <option value="">Select Academic Year</option>
     <option value="2016-17">2016-17</option>
     <option value="2017-18">2017-18</option>
     <option value="2018-19">2018-19</option>
     </select></div>
     </div>
        
        <div class="form-group form-inline row">
     <label class="col-sm-3 text-right">Hostel Name:</label>
     <div class="col-sm-3">
      <select class="form-control w-195 col-sm-3" ng-readonly='true' ng-model="hstName" name="hstName" ng-change="getRoomList(hstName)">
     <option value="">Hostel Name</option>
     <option ng-repeat="listObj in hstNameList" value="{{listObj.hostelName}}">{{listObj.hostelName}}</option>
     </select>
     </div>
     <label class="col-sm-2 text-right">Room Number:</label>
     <div class="col-sm-3">
     <select class="form-control w-195" ng-readonly='true' ng-model="roomNum" name="roomNum" ng-change="getCapacity(roomNum)">
     <option value="">Room Number</option>
     <option ng-repeat="listObj in roomNumbList track by $index" value="{{listObj}}">{{listObj}}</option></select>
     
     </div>
     </div>
        
        
     
    
     <div class="form-group form-inline row">
     <label class="col-sm-3 text-right" >Student Name:</label>
     <div class="col-sm-3">
     <input type="text" ng-readonly='true' class="form-control" ng-model="stuObj.name"></div>
     <label class="col-sm-2 text-right">Date of Vacating:</label>
     <div class="col-sm-3">
<!--     <feature-date date-callback="fnDOl(date,obj)"></feature-date>-->
    <input type="date" ng-model="dol" class="form-control w-195">

     </div>
     </div>

     <div class="form-group form-inline row">
     <label class="col-sm-3 text-right">Reason</label>
     <div class="col-sm-3">
     <textarea class="form-control" rows="5" cols="22" ng-model="reason" name="reason"></textarea>
     </div>

     <div class="row text-center">
     <label class="text-danger" ng-bind="msg"></label>
     </div> 
     </div>

    <div class="modal-footer">
    <button ng-if="isSave" type="submit" ng-click="save('13')" class="btn btn-primary">Save</button>
    <!-- <button ng-if="!isSave" type="submit" ng-click="save('14')" class="btn btn-primary">Edit</button> -->
    <button type="button" ng-click="close()" class="btn btn-primary">Close</button>
    </div>

    </form>
    </div>