      <div class="navbar navbar-default" role="navigation" style="margin-bottom:0px" >
    
        <div width="100%"  class="p-t-0 colorSubMenu "> 

          <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            </button>
          </div>
          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav"  data-ng-click="closeTab();">
               <li class="menuWidth text-center" ng-class="{ active: isSet(1) }">
            <a class='colorWhite' href ng-click="setTab(1)">TIME TABLE</a>
        </li>
              <li class="menuWidth text-center" ng-class="{ active: isSet(2) }">
            <a class='colorWhite' href ng-click="setTab(2)">HALL TICKETS</a>
        </li>
        <li class="menuWidth text-center" ng-class="{ active: isSet(3) }">
            <a class='colorWhite' href ng-click="setTab(3)">MARKS</a>
        </li>
        <li class="menuWidth text-center" ng-class="{ active: isSet(4) }">
            <a class='colorWhite' href ng-click="setTab(4)">REPORT</a>
        </li>
        
        <li class="menuWidth text-center" ng-class="{ active: isSet(5) }">
            <a class='colorWhite' href ng-click="setTab(5)">SEARCH</a>
        </li>
        
            </ul>

          </div>

        </div>
     
    </div>